/* 
 .contenido {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-top: 56.25%; 
  } */

  
  .responsive-iframe {
    /* position: absolute;
    top: 10;
    left: 10; */
    /* bottom: 0; */
    /* right: 0; */
    width: 100%;
    height: 100%;
    border: none;
  }