/* *{
    margin: 0;
    padding: 0;
} */

/* html{
    background-color: #20a0ff;
} */

body{
    background: url(../img/966271.jpg);
}

label{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    /* font-weight: bold; */
    color: #396680;
}

/* Con el :not([]) se hace una excepción a la clase de la animacion del chulo*/
/* Falta identificar que descuadra la animacion de la X */
div{
    padding: 0.5em;
}
/* div:not([class="swal2-icon swal2-success swal2-icon-show"], [class=""]){
    padding: 0.5em;
} */

/* Ahora si, esta clase cuadra TODO lo del SweetAlert2 */
.swal2-popup *{
    padding: 0em;
}

td{
    font-weight: bold;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #396680;
}

.margen{
    background-color: rgb(194, 232, 255);
    margin: auto;
    width: 98%;
    margin-top: 15px;
}

h1{
    color: #B39062;
}

.caja{
    width: 150px;
    height: 35px;
    border: none;
    outline: none;;
    border-bottom: 2px solid #0a0807;
    display: inline-block;
    background: rgb(255, 255, 255);

}

.boton{
    width: 150px;
    height: 33px;
    margin-top: 20px;
    background-color: rgb(19, 11, 11);
    color: #fff;
    border-radius: 7px;
    font-weight: bold;
}

:hover.boton{
    background-color: rgb(104, 104, 104);

}

.container{
    background-color: rgb(225, 241, 251);
}

select{
    background-color: #ccc;
}

.tabla{
    border: #0a0807;
    width: 100px;
    height: 50px;
}

.ancho{
    width: 120px;
    height: 30px;
    background-color: #fff;
}

/* Interructor hecho por Wilmer */

.switch > input {
	display:none;
}

.switch > label {
	display:block;
	position:relative;
	background:#d1dae3;
	width:92px;
	height:37px;
	border-radius:30px;
	border:2px solid #cad3dc;
	box-shadow: -8px -8px 15px rgba(255,255,255,0.5),
				10px 10px 10px rgba(0,0,0,0.1),
				inset -8px -8px 15px rgba(255,255,255,0.5),
				inset 10px 10px 10px rgba(0,0,0,0.1);
	cursor:pointer;
}

.switch > label:before {
	content:"";
	position:absolute;
	width:35px;
	height:35px;
	background:#fff;
	border-radius:50%;
	box-shadow: 2px 2px 4px rgba(0,0,0,0.1);
	left:0;
	top:0;
	transition:all 0.3s;
}

.switch > input:checked + label {
	background:#20a0ff;
}

.switch > input:checked + label:before {
	left:56px;
}